<footer class='bg-white rounded-lg m-4'>
	<div class='w-full max-w-screen-xl mx-auto p-4 md:py-8'>
		<div class='sm:flex sm:items-center sm:justify-between'>
			<div class='flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse'>
				<img src='/svg/DuneUI-logo-black.svg' class='h-12' alt='DuneUI Logo' />
			</div>
			<span
				class='block text-sm text-gray-500 sm:text-center font-normal font-GilroyRegular'
				>Dune UI is a product of <a
					href='https://fabianh.me'
					target='_blank'
					class='hover:underline text-[#93603e] font-semibold font-GilroySemibold'
					>Fabian Herrera</a
				></span
			>
		</div>
	</div>
</footer>
