@tailwind base;
@tailwind components;
@tailwind utilities;


*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@layer base {
		@font-face {
		font-family: GilroyRegular;
		src: url(/fonts/Gilroy-Regular.woff2) format('woff2');
		font-weight: 400;
	}

	@font-face {
		font-family: GilroySemibold;
		src: url(/fonts/Gilroy-SemiBold.woff2) format('woff2');
		font-weight: 600;
	}

	@font-face {
		font-family: GilroyBold;
		src: url(/fonts/Gilroy-Bold.woff2) format('woff2');
		font-weight: bold;
	}
}

html {
	scroll-behavior: smooth;
}

::selection {
	background-color: #f6edde;
	color: #d39c64;
}
