---
import Layout from '@/layouts/Layout.astro'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import Hero from '@/components/landing/Hero.astro'
import CComponents from '@/components/landing/CComponents.astro'
import SupportTech from '@/components/landing/SupportTech.astro'
---

<Layout
	title='Dune UI - A collection of attractive Tailwind CSS components'
	description='Build sites that sell well'
>
	<Header />
	<main>
		<Hero />
		<SupportTech />
		<CComponents />
	</main>
	<Footer />
</Layout>
